= render 'layouts/flash'
= render partial: "layouts/navbar"

.care_home_posts_search
  = search_form_for @q do |f|
    = f.text_field :user_care_home_posts_user_name_cont, placeholder:"写っている方の名前でさがす"
    = button_tag type: 'submit', class: "search_btn" do
      = icon('fas', 'search')

.post_main
  .post_index
    %ul.posts
      - @care_home_posts.each do |care_home_post|
        %li.post
          .post__image
            = image_tag care_home_post.image.url
          .post__title
            - if care_home_post.title?
              = care_home_post.title
          .post__creater_at
            = care_home_post.created_at.strftime("%Y/%m/%d")
          - if current_user.role == "admin"
            = link_to "編集", "care_home_posts/#{care_home_post.id}/edit", class: "post__edit"

- if current_user.role == "admin"
  = render partial: "post_form"