.input-box
.header
あ
.care_home_post_main
  %ul.care_home_post_index
    - @care_home_posts.each do |care_home_post|
      %li.care_home_post
        .care_home_post__image
          = image_tag care_home_post.image.url
        .care_home_post_message
          - if care_home_post.message?
            = care_home_post.message
        .care_home_post_message
          = care_home_post.created_at.strftime("%Y/%m/%d(%a)")

.care_home_post_form
  .care_home_post_form_inner
  = form_with(model: @care_home_post, url: care_home_posts_path, method: :post, local: true) do |f|
    = f.text_field :message, class: "care_home_post_form_inner__text", placeholder: ''
    = f.label :image, class: "care_home_post_form_inner__image" do
      = f.file_field :image, class: "care_home_post_form_inner__btn"
    = f.submit 'Send', class: "care_home_post_form_inner__submit"












-# %ul.care_home_post_index
-#   - @care_home_posts.each do |care_home_post|
-#     %li
-#       = image_tag care_home_post.image.url
-#       = care_home_post.created_at.strftime("%Y/%m/%d(%a)")
-#       - if care_home_post.message?
-#         = care_home_post.message

