.post_form
  .post_form_inner
    = form_with(model: @famil_post, url: family_posts_path, method: :post, local: true) do |f|
      = f.text_field :message, class: "post_form_inner__message", placeholder: 'タイトルを入力してください'
      = f.label :image, class: "post_form_inner__image" do
        = icon('fas', 'camera', class: 'post_form_inner__image--icon')
        = f.file_field :image, class: "post_form_inner__image--btn"
      = f.submit '投稿', class: "post_form_inner__submit"
