= render partial: "layouts/navbar"
%ul.slider
  - @family_posts.each do |family_post|
    %li
      = image_tag family_post.image.url
      = family_post.created_at.strftime("%Y/%m/%d(%a)")
      - if family_post.title?
        = family_post.title

.post_main
  .post_index
    %ul.posts
      - @family_posts.each do |family_post|
        %li.post
          .post__image
            = image_tag family_post.image.url
          .post__title
            - if family_post.title?
              = family_post.title
          .post__creater_at
            = family_post.created_at.strftime("%Y/%m/%d")

= render partial: "post_form"