.session_main
  .session_bg
  .session_form
    .session_form__inner
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .message_for_recruite
          ※デモ用のため入力を変更せずログイン可能です。
        .session_form__inner__email
          = f.label :"email"
          %br/
          = f.email_field :email, value: "admin@com", autocomplete: "email"
        .session_form__inner__password
          = f.label :"password"
          %br/
          = f.password_field :password, value: "adm999", autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .session_form__inner__remember
            = f.check_box :remember_me
            = f.label :remember_me
        = render "devise/shared/links"
        = f.submit "ログインする", class: "session_form__inner__submit"
 